/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.box{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: aqua;
    margin: 2px;
}

.padding-box{
    padding: 10px;
}

.nested-box{
    background-color: greenyellow;
    line-height: 30px;
}