/* 
    RESET
*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

.box{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: aqua;
    margin: 2px;
}

.big-box{
    height: 100px;
    text-align: center;
    line-height: 50px;
    background-color: aqua;
    margin: 2px;
}

.padding-box{
    padding: 10px;
}

.nested-box{
    background-color: greenyellow;
    height: 30px;
}

/* 
    ALIGN/JUSTIFY
*/

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-sb{
    justify-content: space-between;
}

.justify-sa{
    justify-content: space-around;
}

.align-middle{
    align-items: center;
}

.align-bottom{
    align-items:end;
}